<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link rel="stylesheet" href="{{ asset('Stylesheet.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="CV">Curriculum vitae</a></li>
                    <li><a href="Portfolio">Portfolio</a></li>
                </ul>
            </div>
        </nav>
        <footer class="ftr">
            <a href="CDU">Conditions générales d'utilisations      ©Copyright 2023</a>
        </footer>
        <div class="ecran">
            <div class="carte" data-tilt>
                <img src="{{ asset('Profil2.png') }}">
                <h2>Comte Bastien</h2>
                <p>Actuellement étudiant en bachelor Réseau et Télécommunication, étant dans l’associatif depuis mes 16 ans, j’ai développé des compétences en communication et en persuasion. Je sais mener à bien un travail d’équipe et gérer un budget.</p>
                <div class="reseau">
                    <a href="https://fr.linkedin.com/"><img src="{{ asset('5a22d434cad559.9980489315122319888308.png') }}"></a>
                    <a href="https://github.com/Bastien26"><img src="{{ asset('kisspng-computer-icons-github-5b0f05d23f1853.7688163915277111862585.png') }}"></a>
                </div>
                <a href="En_savoir_plus" class="bouton">Pour en savoir plus</a>
            </div>
        </div>
        <container>
            <script src="{{ asset('vanilla-tilt.js') }}"></script>
        </container>
    </body>

</html>





